body {
  background-color: #282c34;
  user-select: none;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 3vmin);
  color: white;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  transition: 0.2s;
}

a, a:hover, a:active, a:visited {
  color: white;
  text-decoration: none;
}

.logo {
  margin-left: 3vw;
}

.github {
  position: absolute; bottom: 10px; right: 10px;
  transition: 0.2s;
  font-size: 15px;
  max-height: 9vw;
  max-width: 7vw;
}

.github:hover {
  opacity: 0.5;
}

.bingoBoard {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #2196F3;
  max-width: 1000px;
  max-height: 85vh;
  min-height: 85vh;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  margin: 15vh auto auto;
}

.categories {
  transition: 0.1s;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 2vw;
}

.popup {
  z-index: 10000;
  width: 100vw;
  min-height: 100vh;
  font-size: 10vw;
  background:rgba(0,0,0,0.9);
  animation: opacity 1s;
  opacity: 0;
  display: none;
  cursor: pointer;
  position:fixed;
}

.show {
  visibility: visible;
  animation: opacity 1s;
  opacity: 1;
  display: inherit;
}

.bingotext {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bingotext p {
  font-size: 2vw;
}

@media all and (max-width: 1150px) {

  .github {
    position: absolute; top: 10px; right: 10px;
  }

  .categories {
    transition: 0.2s;
    margin-right: 8vw;
  }

}

@media all and (max-width: 650px) {
  .App-header {
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
  }

  .logo {
    margin-left: 0;
  }

  .github {
    transition: 0.2s;
    font-size: 1.7vw;
  }

  .categories {
    margin-right: 0;
  }

}